@font-face {
  font-family: 'Lora-Italic';
  src: url("../fonts/lora/Lora-Italic.woff") format("woff"), url("../fonts/lora/Lora-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora-Regular';
  src: url("../fonts/lora/Lora-Regular.woff") format("woff"), url("../fonts/lora/Lora-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora-Medium';
  src: url("../fonts/lora/Lora-Medium.woff") format("woff"), url("../fonts/lora/Lora-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora-Bold';
  src: url("../fonts/lora/Lora-Bold.woff") format("woff"), url("../fonts/lora/Lora-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/lato/Lato-Italic.woff") format("woff"), url("../fonts/lato/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/lato/Lato-Medium.woff") format("woff"), url("../fonts/lato/Lato-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url("../fonts/playfair/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/playfair/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/playfair/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/playfair/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  width: 85%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

* {
  outline: none;
  font-family: 'Lato-Medium', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-bottom: 112px;
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__content__name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__content__name__text {
  position: relative;
  font-family: 'Lato-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__content__name__line {
  margin-left: 15px;
  width: 72px;
  height: 2px;
  background-color: #222831;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__content__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section__content__heading__description {
  margin-top: 18px;
  margin-right: -5px;
}

.section__content__heading__description__text {
  font-family: 'Lato-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6a6a6a;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__content__heading__title {
  margin-top: 5px;
  max-width: 550px;
  font-family: 'Lora-Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51.2px;
  color: #10375c;
  -webkit-transition: .5s;
  transition: .5s;
}

.section__content__heading__title--orange {
  font-family: 'Lora-Bold', sans-serif;
  color: #DD2C00;
}

.swiper-scrollbar {
  position: absolute;
  z-index: 2;
  margin-left: 50%;
  left: 0 !important;
  -webkit-transform: translateX(-58%);
          transform: translateX(-58%);
}

.swiper-scrollbar__item {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu {
  position: fixed;
  top: 0;
  left: -2000px;
  height: 100%;
  width: 40%;
  background-color: #222831;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  z-index: 998;
  -webkit-box-shadow: 10px 10px 8px 0px rgba(16, 55, 92, 0.2);
          box-shadow: 10px 10px 8px 0px rgba(16, 55, 92, 0.2);
}

.burger-menu--active {
  opacity: 1;
  left: 0;
}

.burger-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.burger-menu__list__title {
  color: #ffffff !important;
}

.burger-menu__list__item {
  margin-top: 25px;
  font-family: 'Lato-Bold', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ff5722;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger-menu__list__item:not(:first-of-type) {
  border-bottom: 1px solid #222831;
}

.burger-menu__list__item--active {
  color: #6a6a6a;
}

.header {
  padding: 60px 0;
}

.header__burger-menu__button {
  position: relative;
  display: none;
  width: 18px;
  height: 14px;
  margin-top: -10px;
  margin-right: 20px;
  margin-left: 10px;
  z-index: 999;
}

.header__burger-menu__button--active span:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: .2;
}

.header__burger-menu__button--active span:nth-child(1) {
  -webkit-transform: rotate(60deg) translateY(10px);
          transform: rotate(60deg) translateY(10px);
}

.header__burger-menu__button--active span:nth-child(3) {
  -webkit-transform: rotate(-60deg) translateY(-10px);
          transform: rotate(-60deg) translateY(-10px);
}

.header__burger-menu__button__line {
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: #ff5722;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__burger-menu__button__line:nth-child(1) {
  top: 0;
}

.header__burger-menu__button__line:nth-child(2) {
  top: 5px;
}

.header__burger-menu__button__line:nth-child(3) {
  top: 10px;
}

.header__list {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list__title__link {
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #10375c;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__list__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list__nav-list__item {
  font-family: 'Lato-Bold', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: capitalize;
  color: #222831;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__list__nav-list__item--active, .header__list__nav-list__item:hover {
  color: #ff5722;
}

.header__list__nav-list__item:not(:last-of-type) {
  margin-right: 40px;
}

.header__list__user {
  padding: 12px 24px;
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__list__user:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.5);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.5);
}

.header__list__login {
  margin-right: 5px;
  background-color: #ffffff;
  color: #ff5722;
}

.header__list__login:hover {
  background-color: #ff5722;
  color: #ffffff;
}

.header__list__register {
  background-color: #ff5722;
  color: #ffffff;
}

.intro__slider {
  margin-top: 33px;
}

.intro__swiper-scrollbar {
  width: 100px !important;
  margin-bottom: 3.5%;
  position: relative;
  margin-top: 35px;
  max-height: 566px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 40, 49, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(34, 40, 49, 0.6);
  background-color: inherit !important;
}

.intro__swiper-scrollbar__item {
  background-color: rgba(255, 255, 255, 0.5);
  width: 15px;
  height: 3px;
}

.intro__swiper-scrollbar__item:nth-child(1) {
  left: 5%;
}

.intro__swiper-scrollbar__item:nth-child(2) {
  left: 30%;
}

.intro__swiper-scrollbar__item:nth-child(3) {
  left: 53%;
}

.intro__swiper-scrollbar__item:nth-child(4) {
  left: 78%;
}

.intro__swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: #ff5722 !important;
  width: 25px !important;
}

.intro__content__heading__title {
  max-width: 670px;
  font-size: 52px;
  line-height: 66.56px;
}

.intro__content__heading__description {
  max-width: 390px;
}

.our-spaces {
  padding-bottom: 180px;
}

.our-spaces .container {
  position: relative;
}

.our-spaces__content__heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-spaces__content__heading__description {
  max-width: 452px;
}

.our-spaces__content__heading__description__text {
  color: #9A9A9A;
  font-size: 18px;
  line-height: 28px;
}

.our-spaces__slider {
  margin-top: 50px;
  position: static !important;
}

.our-spaces__slider__arrows {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-spaces__slider__arrows__arrow {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.our-spaces__slider__arrows__next {
  margin-left: 23px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.our-spaces__slider__arrows__next:hover {
  -webkit-transform: rotateY(180deg) scaleX(1.4);
          transform: rotateY(180deg) scaleX(1.4);
}

.our-spaces__slider__arrows__next:hover * {
  fill: red;
}

.our-spaces__slider__arrows__prev {
  -webkit-transition: .5s;
  transition: .5s;
}

.our-spaces__slider__arrows__prev:hover {
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}

.our-spaces__slider__arrows__prev:hover * {
  fill: red;
}

.our-spaces__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-spaces__swiper-slide__space {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__title {
  opacity: 0;
}

.our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__hidden-content {
  -webkit-transform: translate(0) skew(0);
          transform: translate(0) skew(0);
}

.our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__button {
  font-size: 18px;
  line-height: 22px;
  max-width: 255px;
  bottom: 0;
}

.our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__button img {
  margin-left: 20px;
}

.our-spaces__swiper-slide__space__button {
  z-index: 1;
  position: absolute;
  bottom: 49px;
  left: 0;
  max-width: 72px;
  max-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 31px;
  background-color: #ff5722;
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.our-spaces__swiper-slide__space__hidden-content {
  position: absolute;
  padding: 20px 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10375c;
  -webkit-transform: translateY(-1000px) skew(50deg);
          transform: translateY(-1000px) skew(50deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.our-spaces__swiper-slide__space__hidden-content__img {
  position: absolute;
  top: 20px;
  right: 13px;
  opacity: .2;
}

.our-spaces__swiper-slide__space__hidden-content__title {
  font-family: 'Lora-Regular', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
}

.our-spaces__swiper-slide__space__hidden-content__description {
  margin-top: 14px;
  max-width: 255px;
  font-family: 'Lora-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.our-spaces__swiper-slide__space__title {
  margin-top: 25px;
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  -webkit-transition: .4s;
  transition: .4s;
}

.our-spaces__swiper-fraction {
  position: absolute;
  bottom: -90px !important;
  font-size: 18px;
  color: #222831;
  text-align: center;
  z-index: 1;
}

.our-spaces__swiper-fraction .swiper-pagination-current {
  position: relative;
  font-family: 'Lato-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.our-spaces__swiper-fraction .swiper-pagination-total {
  position: relative;
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: .5;
  margin-left: 10px;
}

.our-spaces__swiper-fraction .swiper-pagination-current::before, .our-spaces__swiper-fraction .swiper-pagination-total::before {
  position: absolute;
  content: '0';
  left: -10px;
}

.our-spaces__swiper-scrollbar {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  width: 160px !important;
  height: 4px !important;
  margin-bottom: -5%;
}

.our-spaces__swiper-scrollbar__item {
  width: 40px;
  height: 4px;
  background-color: #DFDFDF;
  opacity: .5;
}

.our-spaces__swiper-scrollbar__item:nth-child(1) {
  left: 5%;
}

.our-spaces__swiper-scrollbar__item:nth-child(2) {
  left: 30%;
}

.our-spaces__swiper-scrollbar__item:nth-child(3) {
  left: 53%;
}

.our-spaces__swiper-scrollbar__item:nth-child(4) {
  left: 78%;
}

.our-spaces__swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: #ff5722 !important;
  min-width: 40px !important;
  height: 4px;
  width: 25px !important;
  background-color: #DD2C00 !important;
}

.reasons {
  padding-top: 40px;
}

.reasons__content__name__text {
  color: #ffffff;
}

.reasons__content__name__line {
  background-color: #ffffff;
}

.reasons__content__heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reasons__content__heading__description__text {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.reasons__content__heading__title {
  font-size: 40px;
  line-height: 51px;
  color: #ffffff;
}

.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons__list__item {
  width: 48%;
  padding: 20px 0;
}

.reasons__list__item:last-of-type {
  padding: 54px;
  background-color: #10375c;
  color: #ffffff;
}

.reasons__list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons__list__info__block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reasons__list__info__block:not(:nth-child(n+5)) {
  margin-bottom: 80px;
}

.reasons__list__info__block__img {
  width: 32px;
  height: 32px;
}

.reasons__list__info__block__text {
  margin-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reasons__list__info__block__text__title {
  font-family: 'Lora-Regular', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #10375c;
}

.reasons__list__info__block__text__description {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.facilities__slider {
  overflow: hidden;
  margin-top: 60px;
}

.facilities__slider__list {
  position: relative;
  margin-left: auto;
  max-width: 730px;
  max-height: 450px;
}

.facilities__slider__pagination {
  bottom: -47% !important;
  left: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facilities__slider__pagination__button {
  width: 293px !important;
  padding: 36px !important;
  font-family: 'Lato-Bold', sans-serif;
  background-color: #ffffff !important;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  border-radius: 0 !important;
  opacity: 1 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.facilities__slider__pagination__button:hover {
  background-color: #ff5722 !important;
  color: #ffffff;
}

.facilities__slider .swiper-pagination-bullet-active {
  background-color: #ff5722 !important;
  color: #ffffff;
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .facilities__slider__list {
    max-width: 68%;
  }
  .facilities__slider__pagination__button {
    font-size: 14px;
    line-height: 16px;
    width: 27% !important;
    padding: 26px !important;
  }
  .reasons__list__info__block__text {
    margin-left: 14px;
  }
  .reasons__list__info__block__text__title {
    font-size: 24px;
    line-height: 28px;
  }
  .reasons__list__info__block__text__description {
    font-size: 12px;
    line-height: 22px;
  }
  .reasons__content__name__text {
    font-size: 16px;
    line-height: 20px;
  }
  .reasons__content__heading__title {
    font-size: 30px;
    line-height: 36px;
  }
  .reasons__content__heading__description {
    font-size: 16px;
    line-height: 22px;
  }
  .header__list__nav-list__item:not(:last-of-type) {
    margin-right: 20px;
  }
  .intro__slider {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .facilities__slider__list {
    max-width: 68%;
  }
  .facilities__slider__pagination__button {
    font-size: 14px;
    line-height: 16px;
    width: 27% !important;
    padding: 26px !important;
  }
  .reasons__content__heading__title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .reasons__list__info__block__text {
    margin-left: 14px;
  }
  .reasons__list__info__block__text__title {
    font-size: 22px;
    line-height: 25px;
  }
  .reasons__list__info__block__text__description {
    font-size: 12px;
    line-height: 22px;
  }
  .our-spaces__swiper-slide__space__hidden-content__title {
    font-size: 22px;
    line-height: 26px;
  }
  .our-spaces__swiper-slide__space__hidden-content__description {
    font-size: 12px;
    line-height: 16px;
  }
  .header {
    padding: 25px 0;
  }
  .header__list__nav-list__item {
    font-size: 12px;
  }
  .header__list__nav-list__item:not(:last-of-type) {
    margin-right: 10px;
  }
  .header__list__user {
    font-size: 12px;
  }
  .section__content__name__text {
    font-size: 16px;
  }
  .section__content__name__line {
    width: 50px;
  }
  .section__content__heading__title {
    font-size: 30px;
    line-height: 36px;
  }
  .section__content__heading__description {
    max-width: 280px;
  }
  .section__content__heading__description__text {
    font-size: 14px;
    line-height: 21px;
  }
  .intro__slider {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .facilities__slider__list {
    max-width: 100%;
    margin: 0 !important;
  }
  .facilities__slider__list__item {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .facilities__slider__list__image {
    max-width: 550px;
    max-height: 350px;
  }
  .facilities__slider__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 100% !important;
  }
  .facilities__slider__pagination__button {
    padding: 18px !important;
    font-size: 14px;
    line-height: 16px;
    width: 27% !important;
    padding: 40px 18px !important;
  }
  .reasons__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons__list__item:last-of-type {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
  .reasons__list__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reasons__list__info__block {
    width: 30%;
  }
  .reasons__list__info__block__text {
    margin-left: 10px;
  }
  .reasons__list__info__block__text__title {
    font-size: 22px;
    line-height: 27px;
  }
  .reasons__list__item {
    width: 100%;
  }
  .our-spaces__content__heading__description {
    text-align: center;
  }
  .our-spaces__slider__arrows {
    margin: 0 auto;
    margin-top: 20px;
  }
  .our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__button {
    font-size: 12px;
    line-height: 12px;
  }
  .our-spaces__swiper-slide__space__button {
    padding: 18px 21px;
  }
  .our-spaces__swiper-slide__space__hidden-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .our-spaces__swiper-slide__space__hidden-content__img {
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    opacity: 0.1;
  }
  .our-spaces__swiper-slide__space__hidden-content__title {
    font-size: 22px;
    line-height: 26px;
  }
  .our-spaces__swiper-slide__space__hidden-content__description {
    font-size: 12px;
    line-height: 16px;
  }
  .intro__slider {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section__content__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__content__heading__title {
    font-size: 45px;
    line-height: 55px;
  }
  .container {
    width: 95%;
  }
  .header {
    padding: 25px 0;
  }
  .header__burger-menu__button {
    display: block;
  }
  .header__list__title__link {
    font-size: 16px;
    line-height: 28px;
  }
  .header__list__nav-list-item {
    display: none;
  }
  .header__list__user {
    font-size: 16px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 550px) {
  .section {
    padding-bottom: 60px;
  }
  .our-spaces {
    padding-bottom: 140px;
  }
  .our-spaces__slider {
    margin-top: 20px;
  }
  .our-spaces__swiper-fraction {
    bottom: -60px !important;
  }
  .our-spaces__swiper-slide__space__hidden-content__title {
    font-size: 12px;
    line-height: 10px;
  }
  .our-spaces__swiper-slide__space__hidden-content__description {
    font-size: 10px;
    line-height: 14px;
  }
  .our-spaces__swiper-slide__space__hidden-content__img {
    display: none;
  }
  .our-spaces__swiper-slide__space__button {
    padding: 12px 15px;
    bottom: 35px;
  }
  .our-spaces__swiper-slide__space__title {
    font-size: 14px;
    line-height: 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .facilities__slider__pagination {
    top: 90% !important;
    max-height: 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .facilities__slider__pagination__button {
    width: 30% !important;
    padding: 20px 5px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px !important;
    line-height: 12px !important;
  }
  .reasons__list__item:last-of-type {
    padding: 20px;
  }
  .reasons__list__info__block {
    width: 50%;
  }
  .our-spaces__swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-spaces__swiper-slide__space {
    margin-bottom: 20px;
  }
  .our-spaces__swiper-slide__space__title {
    font-size: 20px;
    line-height: 22px;
  }
  .our-spaces__swiper-slide__space__hidden-content {
    padding: 10px 2px;
  }
  .our-spaces__swiper-slide__space:hover > .our-spaces__swiper-slide__space__button {
    font-size: 18px;
    line-height: 22px;
  }
  .our-spaces__swiper-slide__space__button {
    max-width: 72px;
    padding: 28px 31px;
    bottom: 47px;
  }
  .our-spaces__swiper-slide__space__hidden-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-spaces__swiper-slide__space__hidden-content__title {
    font-size: 32px;
    line-height: 41px;
  }
  .our-spaces__swiper-slide__space__hidden-content__description {
    font-size: 18px;
    line-height: 28px;
  }
  .our-spaces__swiper-slide__space__hidden-content__img {
    top: 50px;
    right: 50px;
    opacity: .2;
    display: block;
  }
  .section__content__name__text {
    font-size: 14px;
  }
  .section__content__name__line {
    width: 50px;
  }
  .section__content__heading__title {
    font-size: 20px;
    line-height: 25px;
  }
  .section__content__heading__description__text {
    font-size: 14px;
    line-height: 20px;
  }
  .header {
    padding: 25px 0;
  }
  .header__list__user {
    padding: 6px 18px;
  }
}

/* Landscape phones and smaller */
/*# sourceMappingURL=style.css.map */