@media (min-width: 1200px) and (max-width: 1870px)
  .news
    &__list
      &__item
        width: 300px
        height: 280px
      &__full-item
        width: 705px
      &__description
        justify-content: space-between
        &__title
          font-size: 18px
          line-height: 20px
      &__full-description
        justify-content: space-between
        &__title
          font-size: 26px
          line-height: 32px
        &__dsc
          font-size: 14px
          line-height: 21px
      &__full-image
        height: 280px
  .gallery
    &__content
      &__heading
        &__title
          font-size: 36px
          line-height: 44.2px
    &__slider
      &__list
        margin-left: 100px
@media (min-width: 992px) and (max-width: 1199px)
  .footer
    &__info
      margin-right: 0
      &__title
        font-size: 46px
        line-height: 52px
      &__description
        font-size: 14px
        line-height: 22px
    &__links
      &__link
        font-size: 12px
        line-height: 22px
  .news
    &__list
      &__item
        width: 300px
        height: 280px
      &__full-item
        width: 100%
      &__description
        justify-content: space-between
        &__title
          font-size: 18px
          line-height: 20px
      &__full-description
        padding: 20px
        width: 100%
        justify-content: space-between
        &__title
          font-size: 26px
          line-height: 32px
        &__dsc
          font-size: 14px
          line-height: 21px
          max-width: 280px
      &__full-image
        height: 280px
  .quest-answ
    &__list
      flex-direction: column
      align-items: center
      &__item
        &:not(:last-of-type)
          margin-bottom: 35px
  .users
    &__list
      justify-content: center
      &__item
        padding: 0 30px
  .gallery
    &__title
      left: 2%
    &__slider
      &__list
        margin-left: 520px
        .swiper-slide-active
          width: 250px !important
          img
            height: 350px !important
  .facilities
    &__slider
      &__list
        max-width: 68%
      &__pagination
        &__button
          font-size: 14px
          line-height: 16px
          width: 27% !important
          padding: 26px !important
  .reasons
    &__list
      &__info
        &__block
          &__text
            margin-left: 14px
            &__title
              font-size: 24px
              line-height: 28px
            &__description
              font-size: 12px
              line-height: 22px
    &__content
      &__name
        &__text
          font-size: 16px
          line-height: 20px
      &__heading
        &__title
          font-size: 30px
          line-height: 36px
        &__description
          font-size: 16px
          line-height: 22px
  .header
    &__list
      &__nav-list
        &__item
          &:not(:last-of-type)
            margin-right: 20px
  .intro
    &__slider
      box-shadow: none
@media (min-width: 768px) and (max-width: 991px)
  .footer
    .container
      flex-wrap: wrap
    &__info
      margin-right: 0
      &__title
        font-size: 46px
        line-height: 52px
      &__description
        font-size: 14px
        line-height: 22px
    &__links
      &__link
        font-size: 12px
        line-height: 22px
  .news
    &__list
      &__item
        width: 300px
        height: 280px
      &__full-item
        width: 100%
      &__description
        justify-content: space-between
        &__title
          font-size: 18px
          line-height: 20px
      &__full-description
        padding: 20px
        width: 100%
        justify-content: space-between
        &__title
          font-size: 26px
          line-height: 32px
        &__dsc
          font-size: 14px
          line-height: 21px
          max-width: 280px
      &__full-image
        height: 280px
  .quest-answ
    &__list
      flex-direction: column
      align-items: center
      &__item
        &:not(:last-of-type)
          margin-bottom: 35px
  .users
    &__list
      justify-content: center
      &__item
        padding: 0 30px
  .gallery
    &__title
      left: 2%
    &__slider
      &__list
        margin-left: 520px
        .swiper-slide-active
          width: 250px !important
          img
            height: 350px !important
  .facilities
    &__slider
      &__list
        max-width: 68%
      &__pagination
        &__button
          font-size: 14px
          line-height: 16px
          width: 27% !important
          padding: 26px !important
  .reasons
    &__content
      &__heading
        &__title
          font-size: 20px !important
          line-height: 24px !important
    &__list
      &__info
        &__block
          &__text
            margin-left: 14px
            &__title
              font-size: 22px
              line-height: 25px
            &__description
              font-size: 12px
              line-height: 22px
  .our-spaces
    &__swiper
      &-slide
        &__space
          &__hidden-content
            &__title
              font-size: 22px
              line-height: 26px
            &__description
              font-size: 12px
              line-height: 16px
  .header
    padding: 25px 0
    &__list
      &__nav-list
        &__item
          font-size: 12px
          &:not(:last-of-type)
            margin-right: 10px
      &__user
        font-size: 12px
  .section
    &__content
      &__name
        &__text
          font-size: 16px
        &__line
          width: 50px
      &__heading
        &__title
          font-size: 30px
          line-height: 36px
        &__description
          max-width: 280px
          &__text
            font-size: 14px
            line-height: 21px
  .intro
    &__slider
      box-shadow: none
@media (min-width: 768px)
  .burger-menu
    display: none
@media (max-width: 767px)
  .footer
    .container
      flex-wrap: wrap
    &__info
      width: 100%
      margin-right: 0
      &__title
        font-size: 46px
        line-height: 52px
      &__description
        font-size: 14px
        line-height: 22px
    &__links
      margin-right: 0
      width: 48%
      &__link
        font-size: 12px
        line-height: 22px
  .news
    &__title
      flex-direction: column
      &__text
        text-align: center
        margin-bottom: 15px
    &__list
      margin-top: 30px
      flex-direction: column
      align-items: center
      &__item
        width: 300px
        height: 280px
      &__image
        width: 100%
      &__full-item
        width: 300px
        flex-direction: column
        margin-bottom: 290px
      &__description
        justify-content: space-between
        &__title
          font-size: 18px
          line-height: 20px
      &__full-description
        padding: 20px
        width: 100%
        justify-content: space-between
        &__title
          font-size: 26px
          line-height: 32px
        &__dsc
          font-size: 14px
          line-height: 21px
          max-width: 280px
      &__full-image
        height: 280px
  .quest-answ
    &__list
      flex-direction: column
      align-items: center
      &__item
        &:not(:last-of-type)
          margin-bottom: 35px
  .reviews
    &__slider
      margin-left: 15px !important
      &__scrollbar
        margin-left: 50% !important
  .users
    margin-top: -100px
    &__list
      justify-content: space-between
      &__item
        padding: 0
        width: 48%
        text-align: center
  .gallery
    padding-bottom: 0 !important
    &__content
      &__heading
        &__title
          font-size: 36px !important
          line-height: 36px !important
    &__title
      left: 2%
    &__slider
      &__list
        margin-left: auto !important
        &__item
          height: 450px !important
          width: 250px !important
        &__image
          height: 250px
        .swiper-slide-active
          width: 250px !important
          height: 450px !important
          img
            height: 250px !important
  .facilities
    &__slider
      &__list
        max-width: 100%
        margin: 0 !important
        &__item
          width: 100% !important
          display: flex
          justify-content: center
        &__image
          max-width: 550px
          max-height: 350px
      &__pagination
        display: flex
        flex-direction: row
        top: 100% !important
        &__button
          padding: 18px !important
          font-size: 14px
          line-height: 16px
          width: 27% !important
          padding: 40px 18px !important
  .reasons
    &__list
      flex-direction: column
      &__item
        &:last-of-type
          order: -1
          margin-bottom: 20px
      &__info
        justify-content: center
        &__block
          width: 30%
          &__text
            margin-left: 10px
            &__title
              font-size: 22px
              line-height: 27px
      &__item
        width: 100%
  .our-spaces
    &__content
      &__heading
        &__description
          text-align: center
    &__slider
      &__arrows
        margin: 0 auto
        margin-top: 20px
    &__swiper
      &-slide
        &__space
          &:hover > &__button
            font-size: 12px
            line-height: 12px
          &__button
            padding: 18px 21px
          &__hidden-content
            justify-content: flex-start
            &__img
              right: 50%
              top: 50%
              transform: translate(50%, -50%)
              opacity: 0.1
            &__title
              font-size: 22px
              line-height: 26px
            &__description
              font-size: 12px
              line-height: 16px
  .intro
    &__slider
      box-shadow: none
  .section
    &__content
      &__heading
        flex-direction: column
        &__title
          font-size: 45px
          line-height: 55px
  .container
    width: 95%
  .header
    padding: 25px 0
    &__burger-menu
      &__button
        display: block
    &__list
      &__title
        &__link
          font-size: 16px
          line-height: 28px
      &__nav-list
        &-item
          display: none
      &__user
        font-size: 16px
@media (max-width: 550px)
  .quest-answ
    &__list
      &__title
        font-size: 18px
        line-height: 22px
      &__item
        max-width: 280px
        height: 120px
  .reviews
    .container
      flex-direction: column
    &__slider
      margin-left: 15px !important
      &__scrollbar
        margin-left: 50% !important
      &__list
        &__item
          width: 300px !important
        &__text
          max-width: 230px
          font-size: 12px
          line-height: 20px
      &__arrows
        margin-top: 30px
        margin-left: auto
        margin-right: auto
  .gallery
    &__content
      &__heading
        &__title
          font-size: 32px !important
          line-height: 32px !important
    &__slider
      &__arrows
        margin-top: 20px
  .section
    padding-bottom: 60px
  .our-spaces
    padding-bottom: 140px
    &__slider
      margin-top: 20px
    &__swiper
      &-fraction
        bottom: -60px !important
      &-slide
        &__space
          &__hidden-content
            &__title
              font-size: 12px
              line-height: 10px
            &__description
              font-size: 10px
              line-height: 14px
            &__img
              display: none
          &__button
            padding: 12px 15px
            bottom: 35px
          &__title
            font-size: 14px
            line-height: 10px

@media (max-width: 480px)
  .gallery
    &__content
      &__heading
        &__title
          font-size: 24px !important
          line-height: 24px !important
  .facilities
    &__slider
      &__pagination
        top: 90% !important
        max-height: 100px
        flex-wrap: wrap
        justify-content: space-between
        &__button
          width: 30% !important
          padding: 20px 5px !important
          display: flex
          justify-content: center
          font-size: 12px !important
          line-height: 12px !important
  .reasons
    &__list
      &__item
        &:last-of-type
          padding: 20px
      &__info
        &__block
          width: 50%
  .our-spaces
    &__swiper
      &-slide
        flex-direction: column
        &__space
          margin-bottom: 20px
          &__title
            font-size: 20px
            line-height: 22px
          &__hidden-content
            padding: 10px 2px
          &:hover > &__button
            font-size: 18px
            line-height: 22px
          &__button
            max-width: 72px
            padding: 28px 31px
            bottom: 47px
          &__hidden-content
            justify-content: center
            &__title
              font-size: 32px
              line-height: 41px
            &__description
              font-size: 18px
              line-height: 28px
            &__img
              top: 50px
              right: 50px
              opacity: .2
              display: block
  .section
    &__content
      &__name
        &__text
          font-size: 14px
        &__line
          width: 50px
      &__heading
        &__title
          font-size: 20px
          line-height: 25px
        &__description
          &__text
            font-size: 14px
            line-height: 20px
  .header
    padding: 25px 0
    &__list
      &__user
        padding: 6px 18px
@media screen and ( max-width: 320px  )
  .news
    &__list
      &__item
        width: 90% !important
  .quest-answ
    &__list
      &__item
        width: 90% !important
